.genreList{
    background-color: bisque;
    padding: 5px;
    margin: 0 0 0 10px;
    text-decoration: none;
    display: inline-block;
}
.auxName{
    display: inline-block;
    margin-right:5px;
}