.bookCard{
    text-decoration: none;
    display: inline-block;
    margin:2px;
    padding: 20px;
    width: 200px;
    height: 50px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid grey;

}

.bookCard:hover{
 color:black;
 border:2px solid black;
 padding: 0px;
}

.bookLink{
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
    color: black;
}

.bookTittle{
    font-size: 15px;
}